/* Variables

Background: #fde2ed
Shadow:     #f77eb1 (35%)
Foreground: #453730
Midground:  #56453c
Midlight:   #725b4f
Highlight:  #8a6e60
Bright:     #c5a58f

*/

/* Resets === */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: inherit;
}

button,
input {
  font-family: inherit;
}

/* Layout === */

html,
body {
  height: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: auto 0;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 80%;
}

/* Layout: Sections === */

main {
  position: relative;
}

section {
  position: absolute;
  height: 100%;
  width: 100%;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  transition-property: -webkit-transform, opacity, z-index;

  transition-property: transform, opacity, z-index;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

  section.index   { opacity: 1; z-index: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);  }
  section.contact { opacity: 0; z-index: 0; -webkit-transform: translateX(5%); -ms-transform: translateX(5%); transform: translateX(5%); }

  .show-contact section.index   { opacity: 0; z-index: 0; -webkit-transform: translateX(-5%); -ms-transform: translateX(-5%); transform: translateX(-5%); }
  .show-contact section.contact { opacity: 1; z-index: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);   }

section .feature {

}

section .copy {
  width: 550px;
}

section .feature + .copy,
section .copy + .feature {
  margin-left: 48px;
}

/* Styles === */

body {
  background-color: #fde2ed;
}

main {
  background-color: #453730;
  background-image: url('noise.png');
  background-size: 128px;
  box-shadow: 0 0 100px #f77eb1;

  color: white;
  font-family: 'Alegreya', Georgia;
  font-size: 1.8rem;
  font-style: oblique;
}

/* Styles: Sections === */

section {

}

section img {
  height: 224px;
  width: 224px;

  background-color: rgba(139, 110, 95, 0.2); /*#56453c; */
  border-radius: 100%;
}

section .copy > * + * {
  margin-top: 24px;
}

/* Styles: Social === */

.social {
  display: block;
  padding-top: 18px;

  text-align: right;
}

.button {
  display: inline-block;
  height: 44px;
  padding: 0 18px;

  background-color: #56453c;
  border: none;
  border-radius: 44px;
  cursor: pointer;

  color: #fde2ed;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 500ms;
}

.button:focus,
.button:hover {
  background-color: #725b4f;
  color: white;
  transition-duration: 100ms;
}

.button.de-em {
  padding: 0;
  background-color: transparent;
  color: #8a6e60;
}

.button.de-em:focus,
.button.de-em:hover {
  color: #fde2ed;
}

.social .button {
  padding: 0;
  width: 44px;
}

.social a + a {
  margin-left: 12px;
}

.social .swap-view {
  padding: 0 18px;
  width: auto;
}

/* Styles: Form === */

form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

form p {
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%;
  padding: 0 12px 12px;
}

form p.full {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 12px;
}

form .button {
  margin: 0 12px;
}

label {
  display: block;
  margin-left: 12px;
  margin-bottom: 4px;

  opacity: 0.65; /* TODO: Find hex value. */

  color: white;
  font-size: 1.4rem;
  font-style: normal;
  text-transform: uppercase;
}

input {
  height: 33px;
  padding: 0 12px;
  width: 100%;

  background-color: #56453c;
  border: 1px solid #8a6e60;
  border-radius: 33px;
  outline: none;

  color: #fde2ed;
  font-size: 1.6rem;

  transition: border-color 500ms;
}

input:focus {
  border-color: #fde2ed;
  transition-duration: 100ms;
}

form:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-color: rgba(69, 55, 48, 0.65);
  opacity: 0;
  visibility: hidden;

  transition: all 400ms;
}

form.waiting:after {
  opacity: 1;
  visibility: visible;
}
